# dependencies
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
.next/
out/
/build

# environment
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
/app/generated/prisma
prisma/migrations/dev/

# testing
/coverage

# vercel
.vercel

# misc
.DS_Store
Thumbs.db
*.pem
.npm
.eslintcache
